@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #6a11cb, #88dbff);
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  flex-direction: column;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

input[type="text"] {
  padding: 0.8rem;
  font-size: 1.1rem;
  border: 1px solid #fff;
  border-radius: 8px;
  width: 300px;
  margin-bottom: 1.5rem;
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
  outline: none;
}

button {
  padding: 0.7rem 1.5rem;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

button:hover {
  background: linear-gradient(135deg, #2575fc, #6a11cb);
  transform: scale(1.05);
}

p {
  font-size: 1.2rem;
  color: #ffffff;
  margin-top: 1rem;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

ul {
  list-style-type: disc;
  padding: 0;
  margin: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
}

li {
  margin: 5px 0;
  font-size: 1.2rem;
  color: #ffffff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}